:root {
    --color-hint-primary: #1E1E24;
    --color-hint-secondary: #3b3b3b;

    --color-hint-font-primary: #FFF8F0;
    --color-hint-font-secondary: #d6d2cc;

    --color-hint-border-primary: #5e5e5e;

    --color-hint-button-secondary: #ffffff0d;
    --color-hint-button-secondary-hover: #ffffff14;
}

#hints {
    width: 100%;
    height: 100%;
    user-select: auto;
    position: absolute;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-end;

    padding-right: 2vw;
    padding-bottom: 30vh;

    gap: .5rem;
}

.hints__container {
    background-color: var(--color-hint-primary);
    background: var(--gradient-background);
    
    color: var(--color-hint-font-primary);

    max-width: 500px;
    padding: .7rem 1rem;

    border-radius: .8rem;
    align-self: flex-end;

    align-items: center;

    display: flex;
    gap: .5rem;
}

.hints__container p {
    font-size: .9rem;
    font-weight: 500;
}

.hint-control {
    font-weight: 700;
    background-color: var(--color-hint-secondary);
    padding: .4rem .5rem;
    border: 1px solid var(--color-hint-border-primary);
    border-radius: .4rem;
}

@keyframes animate_fade_in_grow {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes animate_fade_out_grow {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}